In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("car driving risk analysis.csv")
df.head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72

In [4]:
df.shape

(15, 2)

In [29]:
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [5]:
x = df['speed']
y = df['risk']

In [ ]:
# Normalize x and y using min-max normalization
x_norm = (x - x.min()) / (x.max() - x.min())
y_norm = (y - y.min()) / (y.max() - y.min())

# Gradient Descent in ML

In [40]:
#1st step:
m = 0
c = 0

learning_rate = 0.001

n = int(len(x_norm))

iteration = 1000

#2nd step:
for i in range(iteration):
    y_predicted = m*x_norm + c
    # cost = (1/n) * sum([val**2 for val in (y_norm-y_predicted)])
    md = -(2/n) * sum(x_norm*(y_norm-y_predicted))
    cd = -(2/n) * sum(y_norm-y_predicted)
    #final step:
    m = m - learning_rate * md
    c = c - learning_rate * cd
    
print(f"m: {m}, c: {c}")

m: 0.35427896623724947, c: 0.35736056979105046