In [19]:
#IMPORT LIBRARY
import pandas as pd

In [20]:
#Empty df
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [22]:
cities = ['Dhaka','Rajshahi','Dinajpur']

In [23]:
cities

['Dhaka', 'Rajshahi', 'Dinajpur']

In [24]:
df = pd.DataFrame(cities)

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
type(cities)

list

In [27]:
row,col = df.shape

In [28]:
row

3

In [29]:
col

1

In [30]:
df.shape

(3, 1)

In [31]:
df

          0
0     Dhaka
1  Rajshahi
2  Dinajpur

In [33]:
df = pd.DataFrame(cities, columns=['Cities in BD'],index=['c1','c2','c3'])

In [34]:
df

   Cities in BD
c1        Dhaka
c2     Rajshahi
c3     Dinajpur

In [35]:
cities2 = ['Dortmund','Paris','Potsdam']

In [36]:
df2 = pd.DataFrame(zip(cities,cities2),columns=['Cities in Banglades','Cities in France'])

In [38]:
df2

  Cities in Banglades Cities in France
0               Dhaka         Dortmund
1            Rajshahi            Paris
2            Dinajpur          Potsdam

In [39]:
df2.shape

(3, 2)

In [40]:
cities3 = [['Bavaria','Erlangen'],['NRW','Dortmund']]

In [41]:
cities3

[['Bavaria', 'Erlangen'], ['NRW', 'Dortmund']]

In [44]:
df3 = pd.DataFrame(cities3,columns=['state','city'],)

In [45]:
df3

     state      city
0  Bavaria  Erlangen
1      NRW  Dortmund

In [50]:
dict1 = {
    'city1':cities,
    'city2':cities2,
}

In [51]:
dict1

{'city1': ['Dhaka', 'Rajshahi', 'Dinajpur'],
 'city2': ['Dortmund', 'Paris', 'Potsdam']}

In [53]:
df4 = pd.DataFrame(dict1)

In [54]:
df4

      city1     city2
0     Dhaka  Dortmund
1  Rajshahi     Paris
2  Dinajpur   Potsdam

In [55]:
type(dict1)

dict