In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
data = {'Feature1':[1, 5, 3, 2, 4, 6, 7, 8, 9, 10],'Feature2':[10, 6, 8, 9, 7, 5, 4, 3, 2, 1]}
df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         1        10
1         5         6
2         3         8
3         2         9
4         4         7

In [4]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df.head()

   Feature1  Feature2
0 -1.566699  1.566699
1 -0.174078  0.174078
2 -0.870388  0.870388
3 -1.218544  1.218544
4 -0.522233  0.522233